<header id="header">
  <!-- <div id="head" class="parallax" data-parallax-speed="2" style="background-image:url('{{ .Site.BaseURL }}{{ (index .Site.Params.banners 0) }}');">
    <h1 id="logo" class="text-center">
      <span class="title">{{ .Site.Params.name }}</span>
      <br/>
      <span class="description">{{ .Site.Params.description }}</span>
    </h1>
  </div> -->

  <div class="slider">
    <div class="slide" style="background-image: url('{{ .Site.BaseURL }}{{ (index .Site.Params.banners 5) }}');"></div>
    <div class="slide" style="background-image: url('{{ .Site.BaseURL }}{{ (index .Site.Params.banners 4) }}');"></div>
    <div class="slide" style="background-image: url('{{ .Site.BaseURL }}{{ (index .Site.Params.banners 3) }}');"></div>
    <div class="slide" style="background-image: url('{{ .Site.BaseURL }}{{ (index .Site.Params.banners 2) }}');"></div>
    <div class="slide" style="background-image: url('{{ .Site.BaseURL }}{{ (index .Site.Params.banners 1) }}');"></div>
    <div class="slide" style="background-image: url('{{ .Site.BaseURL }}{{ (index .Site.Params.banners 0) }}');"></div>

    <div id="head">
      <h1 id="logo" class="text-center">
        <span class="title">{{ .Site.Params.name }}</span>
        <br/>
        <span class="description">{{ .Site.Params.description }}</span>
      </h1>
    </div>
  </div>

{{ partial "head/menu.html" . }}
</header>