{{ define "main" }}
<main id="main">

	<div class="container">
		<div class="row topspace member">
			<div class="col-sm-12">


                {{ $data := .Resources.GetMatch .Params.file | transform.Unmarshal }} 
                {{ range $index, $area := $data }}
                    <!-- Article main content -->
                    <article class="maincontent row">
                        <div class="col-sm-4 text-right">
                            <img class="img-thumbnail mx-auto d-block" src="{{ .image }}" alt="professor">
                        </div>
                        
                        <div class="col-sm-6">
                            <div class="text-left member-description">
                                <a href="mailto:{{ .email }}">{{ .title }}</a>
                                {{ .name }}({{ .en_name }})<br>
                                {{ .description }}<br>
                                <br>
                                Office: {{ .office }}<br>
                                Tel: {{ .phone }}<br>
                                Email: {{ .email }}<br>
                            </div>
                        </div>

                        {{ range $data := sort .bio "weight" }}

                            <h2 class="section-title">
                                <span>{{ $data.title }}</span>
                            </h2>
                            
                            {{ range $item := $data.item }}
                                {{ $item }}<br>
                            {{ end }}
                            <br>
                        {{ end }}
                    </article>
                    <!-- /Article -->

                {{ end }}

			</div>
		</div>

	</div>	<!-- /container -->

</main>
{{ end }}

