
<div class="members">
  {{ $data := .Resources.GetMatch .Params.file | transform.Unmarshal }} 
  {{ range $index, $area := $data }}
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <img class="img" src="{{ .image }}" alt="">
            <p id="title" class="text-center">{{ .title }}</p>
            <p class="text-center">{{ .name }}</p>
            <p class="text-center">{{ .email }} / {{ .phone }}</p>
            <p id="quotes" class="text-center">내가 교수다.</p>
      </div>
  {{ end }}
</div>
