{{ define "main" }}
<main id="main">

	<div class="container">
		<div class="row topspace member">
			<div class="col-sm-12">
                {{ $data := .Resources.GetMatch .Params.file | transform.Unmarshal }} 

                {{ if eq .Params.type "professor" }}

                    {{ range $index, $area := $data }}
                        <!-- Article main content -->
                        <article class="maincontent">
                            <div class="row">
                                <div class="col-sm-4 text-right">
                                    <img class="img-thumbnail mx-auto d-block" src="{{ .image }}" alt="professor">
                                </div>
                                
                                <div class="col-sm-6">
                                    <div style="margin-bottom: 15px;" class="text-left member-description">
                                        <a href="mailto:{{ .email }}">{{ .title }}</a>
                                        {{ .name }}({{ .en_name }})<br style="margin-bottom: 5px">
                                        {{ .description }}<br style="margin-bottom: 5px">
                                        <br>
                                        {{ if and .office .phone .email }}
                                        Office: {{ .office }}<br style="margin-bottom: 5px">
                                        Tel: {{ .phone }}<br style="margin-bottom: 5px">
                                        Email: {{ .email }}<br style="margin-bottom: 5px">
                                        {{ end }}
                                        <a href="{{ .link }}">Google scholar link</a>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                {{ range $data := sort .bio "weight" }}
                                <div class="col-sm-12">
                                    <h2 class="section-title">
                                        <span>{{ $data.title }}</span>
                                    </h2>
                                    
                                    {{ range $item := $data.item }}
                                    <div class="row">
                                        <div class="col-sm-2"></div>
                                        <div class="col-sm-8"><div class="member-description">{{ $item }}</div><br/></div>
                                        <div class="col-sm-2"></div>
                                    </div>
                                    {{ end }}
                                    <br>
                                </div>
                                {{ end }}
                            </div>
                        </article>
                        <!-- /Article -->

                    {{ end }}

                {{ else if eq .Params.type "students" }}
                    
                    <h2 class="section-title"><span>Graduate students</span></h2>
                    
                    {{ range $index, $area := index $data "graduate_students" }}
                        <!-- Article main content -->
                        <article class="maincontent row" style="margin-bottom: 10px">
                            <div class="col-sm-3 text-right">
                                <img class="img-thumbnail mx-auto d-block" src="{{ .image }}" alt="graduate students">
                            </div>
                            
                            <div class="col-sm-9">
                                <div class="member-description">
                                    <a href="mailto:{{ .email }}">{{ .title }}</a>
                                    {{ .name }}({{ .en_name }})<br>
                                    {{ .description }}<br>
                                    <p><span class="text-warning">Research topic </span>{{ .research_topic }}</p><br>
                                </div>
                            </div>

                        </article>
                        <!-- /Article -->

                    {{ end }}
                    
                    <br>

                    <h2 class="section-title"><span>Undergraduate students</span></h2>

                    {{ range $index, $area := index $data "undergraduate_students" }}
                        <!-- Article main content -->
                        <article class="maincontent">
                            <div class="row">
                                <div class="col-sm-3 text-right">
                                    <img class="img-thumbnail mx-auto d-block" src="{{ .image }}" alt="undergraduate students">
                                </div>
                                
                                <div class="col-sm-9">
                                    <div class="member-description">
                                        <a href="mailto:{{ .email }}">{{ .title }}</a>
                                        {{ .name }}({{ .en_name }})<br>
                                        {{ .description }}<br>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <!-- /Article -->

                    {{ end }}

                {{ else if eq .Params.type "alumni" }}

                    <h2 class="section-title"><span>Alumni</span></h2>

                    {{ range $index, $area := index $data "alumni" }}
                        <!-- Article main content -->
                        <article class="maincontent">
                            <div class="row">
                                <div class="col-sm-3 text-right">
                                    <img class="img-thumbnail mx-auto d-block" src="{{ .image }}" alt="alumni">
                                </div>
                                
                                <div class="col-sm-9">
                                    <div class="member-description">
                                        <a href="mailto:{{ .email }}">{{ .title }}</a>
                                        {{ .name }}({{ .en_name }})<br>
                                        {{ .description }}<br>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <!-- /Article -->

                    {{ end }}
            
                {{ end }}


			</div>
		</div>

	</div>	<!-- /container -->

</main>
{{ end }}

